<pre>
    {{ category | json }}
  </pre>
<!-- <pre>
    {{ categorys | json }}
  </pre> -->

<div class="container">
    <div class="mt-4">
        <p-button icon="pi pi-external-link" label="Tambah Kategori"></p-button>

    </div>
    <h2 class="text-center">Data Kategori</h2>
    <p-table [value]="category">
        <ng-template pTemplate="header">
            <tr class="text-lg-center">
                <th scope="col">Id</th>
                <th scope="col">Kode Kategori</th>
                <th scope="col">Nama Kategori</th>
                <th scope="col">Tanggal dibuat</th>
                <th scope="col">Aktif</th>
                <th scope="col">Versi</th>
                <th scope="col">Aksi</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{item.categoryCode}}</td>
                <td>{{item.categoryName}}</td>
                <td>{{item.createdAt}}</td>
                <td>{{item.isActive}}</td>
                <td>{{item.ver}}</td>
                <td>
                    <button pButton type="button" label="Ubah" class="p-button-warning" (click)="change()"></button>
                    <button pButton type="button" label="Hapus" class="p-button-danger" (click)="clear()"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>